.gallery{
  max-width: 880px;
  /*margin: 50px 200px auto 200px ;*/
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.galley__card-button-delete{
  display: flex;
  position: absolute;
  margin: 10px 0 0 230px;
  background:none;
  border-style: none;
  width: 18px;
  height: 20px;
}
.galley__card-button-delete:hover{
  opacity: 30%;
}
.galley__card-button-delete-hiden{
  display: none;
}
.gallery__card{
  max-width: 282px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  }
  .gallery__card-picture{
    width: 100%;
    /*max-height: 282px;*/
    /*width: 282px;*/
    height: 282px;
    border-radius: 10px 10px 0 0;
  }
  /*
  Se derparece el icono de eliminar
  .gallery__card-picture:hover{
    opacity: 80%;
  }
    */

  .gallery__card-picture-big{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 816px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

  }


  .gallery__card-content{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    max-width: 282px;
  }

  .gallery__card-content-text{
    max-width: 246px;
    font-family: "Inter-Black", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5%;

  }

  .gallery__card-content-text-big{
    max-width: 433px;
    position: fixed;
    bottom: 3%;
    left: 16%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    overflow:visible;

  }
  .gallery__card-like-button{
    max-width: 21px;
    max-height: 19px;
    border-style: none;
    background-color: #fff;
    border: none;
    align-self: center;
    padding-right: 30px;

  }

  .gallery__card-like-picture{
    width: 19px;
    height: 17px;
  }
  .gallery__card-like-picture:hover{
    opacity: 50%;
  }
  .like{
    background-image: url("https://img.icons8.com/ios-filled/50/like--v1.png");
    background-size: cover;
  }
  .gallery__card-content-hiden{
    display:flex;
    background-color: #000;
  }
  .gallery__card-like-button-hiden{
    background-color: #000;

  }



@media screen and (max-width:900px){
  .gallery{
  /*margin: 50px 200px auto 200px ;*/
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
}
.galley__card-button-delete{
  display: flex;
  position: absolute;
  margin: 10px 0 0 230px;
  background:none;
  border-style: none;
  width: 18px;
  height: 20px;
}
.gallery__card{
  max-width: 350px;
  border-radius: 10px;
  /*margin: 10px 0 0 30px;*/
  }
  .gallery__card-content{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    max-width: 350px;
  }
  .gallery__card-content-hiden{
    display:flex;
    background-color: #000;
  }
  .gallery__card-picture-big{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 630px;
    height: 540px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

  }
  .gallery__card-content-text-big{

    left: 11%;

  }


}

@media screen and (max-width:610px) {
  .gallery{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 25px;
  }
  .gallery__card{
    width: 350px;
    border-radius: 10px;
    margin: auto;
    }
    .gallery__card-picture-big{
      display:flex;
      justify-content: center;
      align-items: center;
      max-width: 330px;
      height: 400px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    .gallery__card-content-text-big{
      max-width: 330px;
      position: fixed;
      bottom: 13%;
      left: 16%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 5%;

    }
     .gallery__card-content{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      color: #000;
      max-width: 350px;
    }
    .galley__card-button-delete{
      display: flex;
      position: absolute;
      margin: 10px 0 0 230px;
      background:none;
      border-style: none;
      width: 18px;
      height: 20px;
    }
    .gallery__card-content-hiden{
      display:flex;
      background-color: #000;
    }
  }

@media screen and (max-width:390px) {
  .gallery{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
  }
  .gallery__card{
    width: 282px;
    border-radius: 10px;
    margin: auto;
    }
     .gallery__card-content{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      color: #000;
      max-width: 282px;
    }
    .gallery__card-picture-big{
      display:flex;
      justify-content: center;
      align-items: center;
      max-width: 240px;
      height: 299px;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;

    }
    .gallery__card-content-text{
      width: 246px;
      font-family: "Inter-Black", sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }
    .gallery__card-content-text-big{
      max-width: 246px;
      position: fixed;
      bottom: 20%;
      left: 16%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 4%;

    }
    .gallery__card-content-hiden{
      display:flex;
      background-color: #000;
    }

}
