.gallery{
  max-width: 880px;
  /*margin: 50px 200px auto 200px ;*/
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.galery__card{
  max-width: 282px;
  border-radius: 10px;
  }
  .gallery__card-picture{
    width: 100%;
    /*width: 282px;
    height: 282px;*/
    border-radius: 10px ;
  }
  .gallery__card_content{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    max-width: 282px;
  }
  .gallery__card_content_text{
    width: 246px;
    font-family: "Inter-Black", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5%;

  }
  .gallery__card-like-button{
    max-width: 21px;
    max-height: 19px;
    border-style: none;
    background-color: #fff;
    border: none;
    align-self: center;
    padding-right: 30px;

  }
  .gallery__card-like-picture{
    width: 19px;
    height: 17px;
  }
  .gallery__card-like-picture:hover{
    opacity: 50%;}


@media screen and (max-width:900px){
  .gallery{
  /*margin: 50px 200px auto 200px ;*/
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
}
.galery__card{
  max-width: 350px;
  border-radius: 10px;
  /*margin: 10px 0 0 30px;*/
  }
  .gallery__card_content{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    max-width: 350px;
  }

}

@media screen and (max-width:610px) {
  .gallery{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
  }
  .galery__card{
    width: 350px;
    border-radius: 10px;
    margin: auto;
    }
     .gallery__card_content{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      color: #000;
      max-width: 350px;
    }
}

@media screen and (max-width:390px) {
  .gallery{
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 25px;
  }
  .galery__card{
    width: 282px;
    border-radius: 10px;
    margin: auto;
    }
     .gallery__card_content{
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      color: #000;
      max-width: 282px;
    }
    .gallery__card_content_text{
      width: 246px;
      font-family: "Inter-Black", sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }

}
