.popup{
 display: none;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: auto;
  padding-top: 15px;
  width: 1280px;
  height: 150%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position:fixed;
  align-content: center;

}
.popup__opened{
  display: block;

}
.popup__button-closed{
  font-size: 35px;
  background-color: #000;
  color: #fff;
  border-style: none;
  position: fixed;
  top:17%;
  left: 65%;
}
.popup__button-closed:hover{
  opacity: 80%;
}

.popup__container{
  width: 430px;
  height: 330px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  position:fixed;
  top:24%;
  left:35%;

}
.popup__container-text{
  font-family: "Inter-Black";
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  max-width: 330px;
  margin: 35px auto;
}
.popup__container-form{
  display: flex;
  flex-direction: column;
  border-style: none;

}
.popup__input{
  margin: 20px 15px;
  border-style: none;
  font-size: 14px;
  border-bottom: 1px solid #000;
  max-width: 358px;
}
.popup__container-button{
  border-style: none;
  display: flex;
  flex-direction: column;
}
.popup__container-save{
  width: 358px;
  height: 51px;
  margin: 10px 15px;
  border-color: #C4C4C4;
  border-radius: 1PX;
  font-size: 18px;
  background-color: #000;
  color: #fff;
}
.popup__container-save:hover{
  opacity: 80%;
}

@media screen and (max-width:715px) {

  .popup{
    display: none;
     justify-content: center;
     flex-direction: row-reverse;
     align-items: flex-start;
     margin: auto;
     padding-top: 15px;
     height: 150%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
     position:fixed;
     align-content: center;

   }
   .popup__opened{
     display: block;

   }


   .popup__container{
     width: 400px;
     height: 300px;
     background-color: #fff;
     color: #000;
     border-radius: 10px;
     position:fixed;
     top:24%;
     left:20%;

   }

}

@media screen and (max-width:530px) {
  .popup{
    display: none;
     justify-content: center;
     flex-direction: row-reverse;
     align-items: flex-start;
     margin: auto;
     padding-top: 15px;
     height: 150%;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
     position:fixed;
     align-content: center;

   }
   .popup__opened{
     display: block;

   }
   .popup__button-closed{
     font-size: 30px;
     background-color: #000;
     color: #fff;
     border-style: none;
     position: fixed;
     top:17%;
     left: 65%;
   }
   .popup__button-closed:hover{
     opacity: 80%;
   }

   .popup__container{
     width: 282px;
     height: 322px;
     background-color: #fff;
     color: #000;
     border-radius: 10px;
     position:fixed;
     top:24%;
     left:5%;

   }
   .popup__container-text{
     font-family: "Inter-Black";
     font-weight: 900;
     font-size: 18px;
     line-height: 100%;
     max-width: 238px;
     margin: 35px 41px;
   }
   .popup__container-form{
     display: flex;
     flex-direction: column;
     border-style: none;

   }
   .popup__input{
     margin: 20px 15px;
     border-style: none;
     font-size: 14px;
     line-height: 100%;
     border-bottom: 1px solid #000;
     max-width: 238px;
   }
   .popup__container-button{
     border-style: none;
     display: flex;
     flex-direction: column;
   }
   .popup__container-save{
     width: 238px;
     height: 46px;
     margin: 10px 15px;
     border-color: #C4C4C4;
     border-radius: 1PX;
     font-size: 14px;
     background-color: #000;
     color: #fff;
   }
   .popup__container-save:hover{
     opacity: 80%;
   }


}